In [40]:
!pip install glob
!pip install pandas
!pip install requests
!pip install datetime
!pip install wget

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: datetime in c:\users\hp\anaconda3\lib\site-packages (4.5)
Requirement already satisfied: zope.interface in c:\users\hp\anaconda3\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in c:\users\hp\anaconda3\lib\site-packages (from datetime) (2021.3)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from zope.interface->datetime) (61.2.0)
Requirement already satisfied: wget in c:\users\hp\anaconda3\lib\site-packages (3.2)

In [41]:
import glob
import pandas as pd
from datetime import datetime
import requests
# import wget

<h1>To Download Updated Data files (Files will be saved in the project directory)</h1>

In [42]:
r = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json", allow_redirects=True)
open("bank_market_cap_1.json", 'wb').write(r.content)

r = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json", allow_redirects=True)
open("bank_market_cap_2.json", 'wb').write(r.content)

r = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv", allow_redirects=True)
open("exchange_rates.csv", 'wb').write(r.content)

590

<h1>Question 1</h1>

In [43]:
def get_exchange_rate():
    rates_df = pd.read_csv("exchange_rates.csv", index_col=0)
    exchange_rate = rates_df.loc["GBP"]["Rates"]
    return exchange_rate

In [44]:
exchange_rate = get_exchange_rate()
exchange_rate

0.7323984208000001

In [45]:
# rates_df = pd.read_csv("exchange_rates.csv", index_col = 0)
# gbp_rate = rates_df.loc["GBP"]["Rates"]
# gbp_rate

# exchange_rate = rates_df.loc["GBP"]["Rates"]

<h1>Question 2</h1>

In [46]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [47]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    jsons = []
    # Process json file
    files = glob.glob(r"*.json")
    files
    for jsonfile in files:
        jsons.append(extract_from_json(jsonfile))
        
    extracted_data = pd.concat(jsons, ignore_index=True)
        
    return extracted_data

In [48]:
extracted_data = extract()
extracted_data

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]

In [49]:
# files = glob.glob(r"*.json")
# files
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

<h1>Question 3</h1>

In [50]:
def transform(data):
    # Write your code here
    data['Market Cap (US$ Billion)'] = round(exchange_rate * data['Market Cap (US$ Billion)'], 3)
    data.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

transformed_data = transform(extracted_data)
transformed_data.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

<h1>Load Function</h1>

In [51]:
def load(data_to_load, target_file):
    # Write your code here
    data_to_load.to_csv(target_file, index=False)

In [52]:
load(transformed_data,'market_cap.csv')

<h1>Log Function (You can see the log file in the project Directory as well)</h1>